# Ignore custom dataset folders
data/
dataset/

# Ignore raw images (but keep our README dashboard screenshot!)
*.jpg
*.jpeg
*.png
!training_benchmark.png

# Ignore Python caches
__pycache__/
*.pyc

# Ignore ROS build artifacts
build/
devel/
.catkin_workspace
CMakeLists.txt.user

# Ignore Mac/OS system files (just in case)
.DS_Store
